@font-face {
    font-family: "amongfont";
    src: url('./assets/In\ your\ face\,\ joffrey!.ttf');
}

@font-face {
    font-family: "amongfont2";
    src: url('./assets/VCR_OSD_MONO_1.001.ttf');
}

p,
h1,
h2,
h3,
h4,
h5,
label {
    color: white;
}

body {
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.area_2 {
    height: 100%;
    width: 100%;
}

label {
    display: block;
    text-align: center;
}

h3 {
    display: block;
    text-align: center;
}

a {
    text-decoration: none;
}

.image_principal {
    width: 20%;
    margin-right: 4%;
    margin-bottom: 8%;
}

.botao_pesquisar {
    margin-bottom: 5px;
}

.nav-link:focus,
.nav-link:hover {
    transform: scale(1.2);
    z-index: 1;

}

.titulo_pagina {
    font-family: "amongfont";
    font-size: 400%;
    margin-top: 5%;
}

.subtitulo_pagina {
    font-family: 'amongfont2';
}

.menu {
    font-family: 'amongfont2';
    color: white;
}